body {
    font-family: Arial;
    background: #f2f2f2;
  }
  
  .chat-container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 15px;
  }
  
  .user {
    color: blue;
    margin: 5px 0;
  }
  
  .bot {
    color: green;
    margin: 5px 0;
  }
  